body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 250px;
    height: 400px;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 15% 70%;
    grid-template-areas: 
        "display display display display"
        "equals-container equals-container clear-container clear-container"
        "numbers numbers numbers operators";
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px;
}

#display {
    grid-area: display;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#equals-container{
    grid-area: equals-container;
    display: grid;
    grid-template-areas: "equals";
    background-color: rgb(32, 64, 245);
    justify-content: center;
    align-items: center;
}

#clear-container{
    grid-area: clear-container;
    display: grid;
    grid-template-areas: "clear";
    background-color: red;
    justify-content: center;
    align-items: center;
}

#numbers{
    grid-area: numbers;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "seven eight nine"
        "four five six"
        "one two three"
        "zero decimal decimal";
    background-color: rgb(88, 130, 245);
    border: 1px solid black;
}

#operators{
    grid-area: operators;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "add"
        "subtract"
        "multiply"
        "divide";
    background-color: gray;
    justify-content: center;
    align-items: center;
}

#zero{grid-area: zero;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#one{grid-area: one;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#two{grid-area: two;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#three{grid-area: three;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#four{grid-area: four;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#five{grid-area: five;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#six{grid-area: six;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#seven{grid-area: seven;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#eight{grid-area: eight;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#nine{grid-area: nine;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#decimal{grid-area: decimal;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#add{grid-area: add;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#subtract{grid-area: subtract;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#multiply{grid-area: multiply;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#divide{grid-area: divide;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#clear{grid-area: clear;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;}
#equals{grid-area: equals;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}